* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgreen;
    height: 100vh;
    font-family: Helvetica, sans-serif;
    display: flex;   
    justify-content: center;
    align-items: center;
}

.board {
    width: 320px;
    height: 320px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    background-image: url(grid.png);
    background-size: cover;
    border-radius: 3rem;
    box-shadow: 0 0 15px 5px rgb(50, 50, 50, 0.5);
}
.board:hover {
    cursor: pointer;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    background-image: url(circle.png);
}

.cross {
    background-image: url(cross.png);
}

.circle,
.cross {
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}